body{
    font: 13px arial, sans-serif;
}
nav{
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.right{
    text-align: right;
}

main{
    text-align: center;
    margin: 180px 0px 0px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}